<div class="card">
  <div class="card-body">
    <h5 class="card-title">Register</h5>
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label class="exampleInputEmail">{{'REGISTER.EMAIL' | translate}}</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
      </div>
      <div class="form-group">
        <label class="exampleInputFirstName" [translate]="'REGISTER.NAME'"></label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
      </div>
      <div class="form-group">
        <label class="exampleInputPassword" [translate]="'REGISTER.PASSWORD'"></label>
        <input type="password" class="form-control" id="password" placeholder="Create new Password" formControlName="password">
      </div>
      <div class="form-group">
        <label class="exampleInputConfirmPassword" [translate]="'REGISTER.CONFIRM-PASSWORD'"></label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" formControlName="confirmPassword">
      </div>
      <div>
        <h5>Already a member click to <a routerLink="/auth">Login</a></h5>
      </div>
      <app-button [button]="registerButton"  (click)="register()"></app-button>
    </form>
  </div>
</div>
